.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #fff;
}

.social-icons {
  gap: 15px;
  font-size: 1.5rem;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6347;
}
