/* General container for the home page */
.home-container {
  font-family: Arial, sans-serif;
}

/* Hero Section */
/* NOTE : BACKGROUND SHOULD 1200-600px */
/* SERVICE ITEM SHOULD BE 150x150px */

.hero {
  background: url('assets/images/backgroundnail.jpg') center center/cover
    no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-button {
  background-color: #ff6347;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #e5533d;
}

/* About Section */
.about {
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Services Section */
.home-services {
  padding: 50px 20px;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Grid container - Hizmetlerin geniş ekranlarda ortalanması için max-width ekleniyor */
.home-services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1400px; /* Geniş ekranlarda grid yapısının genişliğini sınırlıyoruz */
  margin: 0 auto; /* Ortalamak için margin ayarı */
}


/* Hizmet kartları */
.service-item {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 20px 0 10px 0;
}

.service-item p {
  font-size: 1rem;
  color: #666;
  padding: 0 20px 20px;
}
.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Büyük ekranlarda görsel uyum için medya sorgusu */
@media (min-width: 1024px) {
  .services-grid {
    justify-content: space-between; /* Büyük ekranlarda kartların daha geniş aralıklarla yayılmasını sağlıyoruz */
  }
}
/* Mobil uyumluluk için medya sorgusu */
@media (max-width: 768px) {
  .home-services-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));    
  }
  
  .service-item {
    max-width: 100%; /* Kartların küçük ekranlarda daha küçük görünmesini sağlar */
    margin: 10px auto; /* Her kartı ortalar */
    width: 350px;
  }
}